@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #14213d;
}

header
{
  background: white;
  padding: 20px;
}

header > h1
{
  color: #14213d;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.scoreboard
{
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif;
}

.badge
{
  background: #e63946;
  color: white;
  font-size: 12px;
  padding: 2px 10px;
  font-family: 'Raleway', sans-serif;
}