@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #14213d;
}

header
{
  background: white;
  padding: 20px;
}

header > h1
{
  color: #14213d;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.scoreboard
{
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.badge
{
  background: #e63946;
  color: white;
  font-size: 12px;
  padding: 2px 10px;
  font-family: 'Raleway', sans-serif;
}

#user
{
  position: absolute;
  top: 30px;
  left: -30px;
}

#computer
{
  position: absolute;
  top: 30px;
  right: -20px;
}

.result
{
  font-size: 40px;
  color: white;
}

.result > p 
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.choices
{
  margin-top: 50px;
  text-align: center;
}

.choice
{
  border: 5px solid white;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  width: 9vw;
  height: 9vh;
  text-align: center;
  display: inline-block;
  text-align: center;
  font-size: 100px;
  padding: 20px;
  margin: 0 20px;
  transition: all 0.5s ease;
}

.choice:hover
{
  cursor: pointer;
  background: #e63946;
}

#message
{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}
